@import '../../config';

.raster-probe {
  width: 330px;
  background: white;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 5px;
  box-shadow: $main-shadow;
}

.raster-probe__inner {
  padding: 20px;
}

.raster-probe__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 13px;
}

.raster-probe__title {
  font-weight: bold;
}

.raster-probe__close-icon {
  cursor: pointer;
  color: $dark-grey;
}

.raster-probe__close-icon:hover {
  color: black;
}

.raster-probe__image {
  height: 180px;
  background: lightgrey;
  cursor: pointer;
}

.raster-probe__caption {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

.raster-probe__nav-buttons {
  display: flex;
  justify-content: space-between;
}

.raster-probe__footer-button {
  height: 36px;
  background: $light-grey;
  width: 100%;
  
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  color: $dark-grey;
}

.raster-probe__footer-button:hover {
  background: $light-grey-hover;
}


.raster-probe__prev {
  margin-right: 10px;
}

.raster-probe__next {
  margin-left: 10px;
}