@import '../../config';

$stepper-width: 375px;

.header {
  width: 100%;
  height: 108px;
  background: white;
  box-shadow: $main-shadow;
  z-index: 500;
}

.header__inner {
  height: 100%;
  // width: 100%;
  // padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.header__stepper {
  width: $stepper-width;
  height: 100%;
  background: lightgrey;
  margin-right: 20px;
}

.header__timeline {
  width: 100%;
  display: flex;
  align-items: center;
}

.timeline__slider {
  height: 50px;
  // width: 100%;
  flex-grow: 1;
  margin-right: 20px;
  margin-left: 20px;
}

.timeline__track {
  fill: lightgrey;
}

.timeline__handle {
  fill: grey;
  pointer-events: none;
}

.timeline__slider-svg {
  // background: lightgrey;
}