@import '../../config';

.sidebar {
  background: white;
  display: flex;
  width: 310px;
  flex-direction: column;
  box-shadow: $main-shadow;
  flex-shrink: 0;

}

.sidebar__inner {
  padding: 20px;
}